*{
    box-sizing: border-box;
}

html,
body{
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

:root{
    --primary-color:#143c3c;
}

body{
    background-color: #efefef;
    font-size: 1.6rem;
    font-family: 'Poppins', 'Public Sans', sans-serif;
    height: 5000px;
}

/* Common */

.container{
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.btn{
    --height:57px;
    min-width: 172px;
    height: var(--height);
    color: white;
    line-height: var(--height);
    background-color:var(--primary-color);
    border-radius: 40px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
    display: block;
    font-family: 'Public Sans', sans-serif;
    border: none;
    transition: all 0.3s linear;
}

.btn:hover{
    color: var(--primary-color);
    background-color: #e2eddf;
}

/* Header */

.header{
    min-height: 100vh;
    padding-top: 30px;
}

.header-top{
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 13px;
}

.header-top::after{
    content: "";
    display: block;
    background: linear-gradient(90deg, #FFFFFF 0%, #DDDCDC 51.09%, rgba(213, 213, 213, 0) 99.68%);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.header-top__logo{

}

.navbar{
    margin-left: auto;
}

.navbar__list{
    display: flex;
   
}

.navbar__item{

}

.navbar__link{
    padding: 17px 20px;
    color: #575D5E;
    font-weight: 500;
    font-size: 1.8rem;
    position: relative;
}

.navbar__link::after{
    position: absolute;
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color:#143C3C;
    bottom: -11px;
    left: 20px;
    transition: all 0.1s linear;
}

.navbar__link:hover{
    color: #152427;
}

.navbar__link:hover::after{
    width: 16px;
}

.action{
    margin-left: 88px;
}

/* Hero */
.hero{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero__content{
    
}

.hero__content-heading{
    width: 368px;
    font-weight: 800;
    font-size: 5rem;
    font-family:'Public Sans', sans-serif;
    color: var(--primary-color);
    line-height: 1.2;
}

.hero__content-desc{
    margin-top: 20px;
    width: 341px;
    font-size: 1.8rem;
    line-height: 1.55;
    font-weight: 500;
    font-family: 'Public Sans', sans-serif;
    color: #575D5E;
}

.hero__content-control{
    margin-top: 42px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__play-button{
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 60px;
    padding: 0;
    border: none;
    color: #152427;
    background-color: transparent;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
}

.hero__half-circle-border{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 50%;
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent; 
    transform: rotate(-45deg); 
    transition-duration: 0.3s;
}

.hero__play-btn{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #83a17d;
    transform: rotate(45deg); 
}

.hero__play-button:hover{
    color: #83a17d;
}

.hero__play-button:hover .hero__half-circle-border{
    border-color: #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(135deg);
}

.hero__play-button:hover .hero__play-btn{
    background-color: var(--primary-color);
    transform: rotate(-135deg); 
}

.header__hero-deco:nth-child(1){
    top: 36px;
    left: 254px;
}

.header__hero-deco:nth-child(2){
    top: 28px;
    left: 296px;
    z-index: 2;
}

.header__hero-deco:nth-child(3){
    top: 318px;
    right: 46px;
    z-index: 2;
}

.header__hero-deco:nth-child(4){
    top: 562px;
    right: 0;
}

.hero__media{
    position: relative;
}

.hero__media-bgc{
    z-index: -1;
    position: absolute;
    left: 156px;
    top: 122px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}

.hero__media-img{
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    margin-right: 18px;
}

.hero__media-img:nth-child(2){
    transform: translateY(78px);
}
    
.header__hero-deco{
    position: absolute;
}

